In [ ]:
import pandas as pd

#Loading my dataset
df = pd.read_csv('../Book-Reading-Analysis-Project/March 7-April 4, 2016 - Libraries - CSV.csv')

#Creating a list of relevant columns
relCol = ['psraid', 'books1', 'books2a','books2b', 'books2c', 'device1a', 'device1b', 'device1c', 'device1d', 'sex', 'age', 'educ2']

#Filtering in a new dataframe with relevant columns only
rel_df = df[relCol]

#Checking 
rel_df.head()
rel_df.info()

,psraid,books1,books2a,books2b,books2c,device1a,device1b,device1c,device1d,sex,age,educ2
0,100001,10,1,1,1,1,1,2,1,2,34,4
1,100003,4,1,2,2,2,2,2,1,1,53,4
2,100005,7,2,2,2,1,2,1,1,2,49,5
3,100009,30,1,2,2,1,2,2,1,1,73,3
4,100014,15,1,2,1,1,1,1,2,2,63,8