In [15]:
import pandas as pd

#Loading my dataset
first_df = pd.read_csv('../Book-Reading-Analysis-Project/March 7-April 4, 2016 - Libraries - CSV.csv')

#Creating a list of relevant columns
relCol = ['psraid', 'books1', 'books2a','books2b', 'books2c', 'device1a', 'device1b', 'device1c', 'device1d', 'sex', 'age', 'educ2']

#Filtering in a new dataframe with relevant columns only
rel_df = first_df[relCol]

#Checking 
print(rel_df.info())

#Renaming columns for clarity - referenced through the questionnaire used to gather the dataset
df = rel_df.rename(columns={'psraid': 'respondent_id', 'books1': 'books_read_1year', 'books2a': 'print_books', 'books2b': 'audiobooks', 
'books2c': 'ebooks', 'device1a': 'smartphone', 'device1b': 'ebook_reader', 'device1c': 'tablet', 'device1d': 'laptop', 
'sex':'gender', 'age': 'age', 'educ2': 'education'})

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   psraid    1601 non-null   int64
 1   books1    1601 non-null   int64
 2   books2a   1601 non-null   object
 3   books2b   1601 non-null   object
 4   books2c   1601 non-null   object
 5   device1a  1601 non-null   object
 6   device1b  1601 non-null   int64
 7   device1c  1601 non-null   int64
 8   device1d  1601 non-null   int64
 9   sex       1601 non-null   int64
 10  age       1601 non-null   int64
 11  educ2     1601 non-null   int64
dtypes: int64(8), object(4)
memory usage: 150.2+ KB
None

,respondent_id,books_read_1year,print_books,audiobooks,ebooks,smartphone,ebook_reader,tablet,laptop,gender,age,education
0,100001,10,1,1,1,1,1,2,1,2,34,4
1,100003,4,1,2,2,2,2,2,1,1,53,4
2,100005,7,2,2,2,1,2,1,1,2,49,5
3,100009,30,1,2,2,1,2,2,1,1,73,3
4,100014,15,1,2,1,1,1,1,2,2,63,8

In [34]:
import numpy as np

"""
Assessing and changing input values to make them meaningful - referenced through the questionnaire, for example in print books 1 means
yes or 8 mean's don't know changing it for clarity and also removing values like refused/I don't know so that they can be ignored in
my calculations.
"""

value_change = { 1: 'yes', 2: 'no', 8: np.nan, 9: np.nan}

columns_to_replace = [
    'print_books', 'audiobooks', 'ebooks', 'ebook_reader',
    'smartphone', 'tablet', 'laptop'
]
df[columns_to_replace] = df[columns_to_replace].replace(value_change)

columns_Left_unchanged= ['print_books', 'audiobooks', 'ebooks', 'smartphone']
string_value_change = { '1': 'yes', '2': 'no', '8': np.nan, '9': np.nan}
df[columns_Left_unchanged] = df[columns_Left_unchanged].replace(string_value_change)

#print(type(df['print_books'].iloc[0]))

df.head()

,respondent_id,books_read_1year,print_books,audiobooks,ebooks,smartphone,ebook_reader,tablet,laptop,gender,age,education
0,100001,10,yes,yes,yes,yes,yes,no,yes,2,34,4
1,100003,4,yes,no,no,no,no,no,yes,1,53,4
2,100005,7,no,no,no,yes,no,yes,yes,2,49,5
3,100009,30,yes,no,no,yes,no,no,yes,1,73,3
4,100014,15,yes,no,yes,yes,yes,yes,no,2,63,8

In [40]:
#Checking the datatype before replacement to avoid the error on the previous columns
print(df['books_read_1year'].dtype)

#Defining the meaningful replacements for the 'books_read_12months' column, number 98 and 99 refer to I don't know/refused
books_read_replacements = {98: np.nan, 99: np.nan}
columns_to_replace= ['books_read_1year', 'age']

#Applying the replacements
df[columns_to_replace] = df[columns_to_replace].replace(books_read_replacements)

#Checking the results
print("Value counts for the 'books_read_12months' column after cleaning:")
print(df[columns_to_replace].value_counts(dropna=False).sort_index())
df.head()

float64
Value counts for the 'books_read_12months' column after cleaning:
books_read_1year  age
0.0               17.0    2
                  18.0    3
                  19.0    4
                  20.0    7
                  21.0    5
                         ..
NaN               79.0    1
                  82.0    1
                  83.0    1
                  84.0    1
                  86.0    1
Name: count, Length: 854, dtype: int64

,respondent_id,books_read_1year,print_books,audiobooks,ebooks,smartphone,ebook_reader,tablet,laptop,gender,age,education
0,100001,10.0,yes,yes,yes,yes,yes,no,yes,2,34.0,4
1,100003,4.0,yes,no,no,no,no,no,yes,1,53.0,4
2,100005,7.0,no,no,no,yes,no,yes,yes,2,49.0,5
3,100009,30.0,yes,no,no,yes,no,no,yes,1,73.0,3
4,100014,15.0,yes,no,yes,yes,yes,yes,no,2,63.0,8

In [ ]:
#Printing the value counts for the education column to check for any discrepancies
print(df['education'].value_counts().sort_index())

#Defining the replacements for the education column
education_replacements = {
    1: 'Less than high school',
    2: 'High school graduate or GED',
    3: 'Some college, no degree',
    4: 'Two-year associate degree',
    5: 'Four-year college degree or bachelor\'s degree',
    6: 'Postgraduate or professional degree',
    7: 'Unknown', # New category for undocumented values
    8: 'Unknown', # New category for undocumented values
    98: np.nan,
    99: np.nan
}

#Applying the replacements
df['education'] = df['education'].replace(education_replacements)

#Checking the results
print("Value counts for education column after cleaning:")
print(df['education'].value_counts(dropna=False).sort_index())
df.head()

education
1      53
2     118
3     382
4     232
5     158
6     365
7      37
8     247
98      3
99      6
Name: count, dtype: int64
Value counts for education column after cleaning:
education
Four-year college degree or bachelor's degree    158
High school graduate or GED                      118
Less than high school                             53
Postgraduate or professional degree              365
Some college, no degree                          382
Two-year associate degree                        232
Unknown                                          284
NaN                                                9
Name: count, dtype: int64